
~$data.xlsx
.idea/*
games/spiderman2/~$spiderman2_data.xlsx
games/hades/~$hades_data.xlsx
games/ale-and-tale-tavern/~$ingredient-list.xlsm
/node_modules
.env
credentials.json
credentials_base64.txt
credentials_base64-old.txt
credentials_base64_new.txt
decoded_powershell2.json
decoded_powershell.json
test_credentials.json
