body {
	background-color: #1A1A1A;
	color: #FFFFFF;
	font-family: 'Merriweather', serif;
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.container {
	max-width: 600px;
	width: 100%;
}
h1 {
	color: #E63946;
	text-align: center;
	margin-bottom: 20px;
}
.collapsible {
	background-color: #E63946;
	color: white;
	padding: 15px;
	border: none;
	border-radius: 5px;
	text-align: left;
	outline: none;
	font-size: 15px;
	cursor: pointer;
	width: 100%;
	margin-bottom: 5px;
}
.collapsible:hover {
	background-color: #D62828;
}
.section {
	padding: 10px;
	background-color: #2B2D42;
	border: 1px solid #8D99AE;
	border-radius: 5px;
	margin-bottom: 10px;
	display: none; /* Hidden by default */
}
.grid-item {
	display: grid;
	grid-template-columns: 1fr auto; /* Two columns, second one adjusts automatically*/
	grid-template-rows: auto auto; /* Adjust rows automatically */
	margin-bottom: 5px;
	gap: 15px;
}
.grid-checkbox-container {
	display: flex;
	align-items: center;
	gap: 5px;
}
input[type="checkbox"] {
	margin: auto 5px auto auto;
}
.label {
	font-size: 14px;
}
#checklist-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#total-completion {
	margin-bottom: 20px;
	text-align: center;
}
.description {
	font-size: 11px;
}
.column1
{
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows inside the first column */
  gap: 0.5rem;
}
.label,
.description,
.column2 {
  /*padding: 0.5rem;*/
}
.home-link {
	background-color: #E63946;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 10px;
	cursor: pointer;
	width: auto;
	margin-bottom: 15px;
	height: 15px;
}
.home-link:hover {
	background-color: #D62828;
}
.linkText {
	color: white;
	font-size: 10px;
}